include README.txt
include LICENSE.txt
include CONTRIBUTORS.txt
include avatar/media/avatar/img/default.jpg
recursive-include docs *
recursive-include avatar/templates/avatar *.html
recursive-include avatar/locale/*/LC_MESSAGES *.mo *.po
recursive-include avatar/testdata *
